﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>500 | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{../../favicon.ico}" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{../../plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{../../plugins/node-waves/waves.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{../../css/style.css}" rel="stylesheet"/>
</head>

<body class="five-zero-zero">
    <div class="five-zero-zero-container">
        <div class="error-code">500</div>
        <div class="error-message">Internal Server Error</div>
        <div class="button-place">
            <a th:href="@{../../index.html}" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script th:attr="src=@{../../plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:attr="src=@{../../plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:attr="src=@{../../plugins/node-waves/waves.js}"></script>
</body>

</html>