﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>SocialVisor</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{../../favicon.ico}" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&amp;amp;subset=latin,cyrillic-ext}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{../../plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{../../plugins/node-waves/waves.css}" rel="stylesheet" />

    <!-- Animation Css -->
    <link th:href="@{../../plugins/animate-css/animate.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{../../css/style.css}" rel="stylesheet"/>

    <!-- Morris Chart Css-->
    <link th:href="@{plugins/morrisjs/morris.css}" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{css/themes/all-themes.css}" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING..."/>
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">Social<b>Visor</b></a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img id="vk_photo" src="images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div id="vk_name" class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN INFORMATION</li>
                    <li class="active">
                        <a>
                            <i class="material-icons">email</i>
                            <span>Messages analyzed:</span><span id="m_messages">Typography</span>
                        </a>
                    </li>



                    <li>
                        <a>
                            <i class="material-icons">group</i>
                            <span>Groups analyzed:</span><span id="m_groups">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons">warning</i>
                            <span>Suspicion groups found:</span><span id="m_groups_sus_count">Typography</span>
                        </a>
                    </li>



                    <li>
                        <a>
                            <i class="material-icons">forum</i>
                            <span>Posts analyzed:</span><span id="m_posts">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons">warning</i>
                            <span>Suspicion posts found:</span><span id="m_posts_sus_count">Typography</span>
                        </a>
                    </li>


                    <li>
                        <a>
                            <i class="material-icons">sentiment_very_satisfied</i>
                            <span>Positive percent:</span><span id="m_positive">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons">sentiment_neutral</i>
                            <span>Neutral percent:</span><span id="m_neutral">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons">sentiment_very_dissatisfied</i>
                            <span>Negative percent:</span><span id="m_negative">Typography</span>
                        </a>
                    </li>
                    </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="version">
                    <b>Version: </b> 0.0.2
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" /><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"/><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" /><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" /><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"/><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" /><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>


            <div class="row clearfix">
                <div id="not_enought_data" style="display: none" class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                    <div class="card">
                        <div class="body bg-red">
                            Sorry, insufficient information on user activity in recent time.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-xs-20 col-sm-10 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <div class="card">
                            <div class="header" style="text-align: center;text-transform: uppercase;">
                                <h2>Social profile mood</h2>
                            </div>
                            <div class="body">
                                <div id="profile_mood"  style="text-align: center;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        <div class="info-box bg-deep-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">not_interested</i>
                            </div>
                            <div class="content">
                                <div class="text">PROFANITY</div>
                                <div id="bad_words" class="number">0%</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        <div class="info-box bg-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">smoking_rooms</i>
                            </div>
                            <div class="content">
                                <div class="text">BAD HABITS</div>
                                <div id="habbits" class="number">NOT DETECTED</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row clearfix">
                <div class="col-md-6" id="sentiment_chart_block">
                    <!-- Browser Usage -->
                    <div class="col-xs-24 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>SENTIMENT ANALYSIS OF MESSAGES</h2>
                            </div>
                            <div class="body">
                                <div id="sentiment_chart" class="dashboard-donut-chart" style="text-align: center;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- #END# Browser Usage -->
                </div>

                <div class="col-md-6">
                    <div class="m-t-10 col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">email</i>
                            </div>
                            <div class="content">
                                <div class="text">MESSAGES ANALYZED</div>
                                <div id="total_message" class="number count-to" data-from="0" data-to="125" data-speed="10" data-fresh-interval="1000"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="content">
                                <div class="text">GROUPS ANALYZED</div>
                                <div id="total_groups" class="number count-to" data-from="0" data-to="257" data-speed="10" data-fresh-interval="1000"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        <div class="info-box bg-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">forum</i>
                            </div>
                            <div class="content">
                                <div class="text">POSTS ANALYZED</div>
                                <div id="total_posts" class="number count-to" data-from="0" data-to="243" data-speed="10" data-fresh-interval="1000"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets -->
            <div class="row clearfix">

            </div>
            <!-- #END# Widgets -->

            <div class="row clearfix">

                <!-- Latest Social Trends -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-cyan">
                            <div class="m-b--35 font-bold">SUSPICIOUS GROUPS</div>
                            <ul id="sus_groups" class="dashboard-stat-list">
                                <li>#socialtrends</li>
                                <li>#adminbsb</li>
                                <li>#freeadmintemplate</li>
                                <li>#bootstraptemplate</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Latest Social Trends -->
                <!-- Answered Tickets -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">SUSPICIOUS POSTS</div>
                            <ul id="sus_walls" class="dashboard-stat-list">
<!--                                <li>
                                    TODAY
                                    <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                                </li>
                                <li>
                                    YESTERDAY
                                    <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                                </li>
                                <li>
                                    LAST WEEK
                                    <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                                </li>
                                <li>
                                    LAST MONTH
                                    <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                                </li>
                                <li>
                                    LAST YEAR
                                    <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                                </li>
                                <li>
                                    ALL
                                    <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Answered Tickets -->
                <!-- Visitors -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="visibility: hidden">
                    <div class="card">
                        <div class="body bg-pink">
                            <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                                 data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                                 data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                                 data-fill-Color="rgba(0, 188, 212, 0)">
                                12,10,9,6,5,6,10,5,7,5,12,13,7,12,11
                            </div>
                            <ul class="dashboard-stat-list">
                                <li>
                                    TODAY
                                    <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                                </li>
                                <li>
                                    YESTERDAY
                                    <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                                </li>
                                <li>
                                    LAST WEEK
                                    <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #END# Visitors -->
            </div>

        </div>
    </section>

    <!-- Jquery Core Js -->
    <script th:attr="src=@{plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:attr="src=@{plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Select Plugin Js -->
    <script th:attr="src=@{plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script th:attr="src=@{plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:attr="src=@{plugins/node-waves/waves.js}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script th:attr="src=@{plugins/jquery-countto/jquery.countTo.js}"></script>

    <!-- Morris Plugin Js -->
    <script th:attr="src=@{plugins/raphael/raphael.min.js}"></script>
    <script th:attr="src=@{plugins/morrisjs/morris.js}"></script>

    <!-- ChartJs -->
    <script th:attr="src=@{plugins/chartjs/Chart.bundle.js}"></script>

<!--    &lt;!&ndash; Flot Charts Plugin Js &ndash;&gt;
    <script th:attr="src=@{plugins/flot-charts/jquery.flot.js}"></script>
    <script th:attr="src=@{plugins/flot-charts/jquery.flot.resize.js}"></script>
    <script th:attr="src=@{plugins/flot-charts/jquery.flot.pie.js}"></script>
    <script th:attr="src=@{plugins/flot-charts/jquery.flot.categories.js}"></script>
    <script th:attr="src=@{plugins/flot-charts/jquery.flot.time.js}"></script>-->

    <!-- Sparkline Chart Plugin Js -->
    <script th:attr="src=@{plugins/jquery-sparkline/jquery.sparkline.js}"></script>

    <!-- Custom Js -->
    <script th:attr="src=@{js/admin.js}"></script>
    <script th:attr="src=@{js/pages/index.js}"></script>

    <!-- Demo Js -->
    <script th:attr="src=@{js/demo.js}"></script>



    <script th:inline="javascript">

        /*<![CDATA[*/


        $('#vk_photo').attr('src',[[${vk_photo}]]);
        $('#vk_name').text([[${vk_name}]]);
        $('#education').text([[${education}]]);
        $('#sus_groups').html([[${sus_groups}]]);
        $('#sus_walls').html([[${sus_walls}]]);

        $('#total_groups').attr('data-to',[[${groups_count}]]);
        $('#total_groups').text([[${groups_count}]]);
        $('#m_groups').text([[${groups_count}]]);
        $('#m_groups_sus_count').text([[${sus_groups_count}]]);

        $('#total_posts').attr('data-to',[[${walls_count}]]);
        $('#total_posts').text([[${walls_count}]]);
        $('#m_posts').text([[${walls_count}]]);
        $('#m_posts_sus_count').text([[${sus_walls_count}]]);

        var script = document.createElement('SCRIPT');
        script.src = [[${vk_link}]];
        document.getElementsByTagName("head")[0].appendChild(script);
        function callbackFunc(result) {
            /*alert(JSON.stringify(result))*/

            $.ajax({
                url:"/analysis?userId=[[${user_id}]]",
                type:"POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(result), //Stringified Json Object
                async: false,    //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation
                cache: false,    //This will force requested pages not to be cached by the browser
                processData:false, //To avoid making query String instead of JSON
                success: function(resposeJsonObject){
                    json = JSON.parse(resposeJsonObject);
                    $('#total_message').attr('data-to',json.messageCount);
                    $('#total_message').text(json.messageCount);




                    $('#m_messages').text(json.messageCount);
                    $('#m_negative').text((json.negativePercent*100).toFixed(2)+'%');
                    $('#m_positive').text((json.positivePercent*100).toFixed(2)+'%');
                    $('#m_neutral').text((json.neutralPercent*100).toFixed(2)+'%');

                    if(json.positivePercent == 0 && json.neutralPercent==0 && json.negativePercent==0){
                        $('<p>Sorry, not enough information for analysis</p> <i class="material-icons" style="font-size: 1400%;color: #F44336;">error_outline</i>').appendTo('#sentiment_chart');
                        $("#not_enought_data").show();

                        $('<p>Sorry, not enough information for analysis</p> <i class="material-icons" style="font-size: 1400%;color: #9E9E9E;">sentiment_neutral</i>').appendTo('#profile_mood');

                    }else {

                        if((json.positivePercent - json.negativePercent) + (json.neutralPercent/2) > 0){

                            $('<i class="material-icons" style="font-size: 1400%;color: #4CAF50;">sentiment_very_satisfied</i>').appendTo('#profile_mood');

                        }else{
                            $('<i class="material-icons" style="font-size: 1400%;color: #F44336;">sentiment_very_dissatisfied</i>').appendTo('#profile_mood');
                        }


                        Morris.Donut({
                            element: 'sentiment_chart',
                            data: [
                                {value: json.positivePercent, label: 'Positive'},
                                {value: json.neutralPercent, label: 'Neutral'},
                                {value: json.negativePercent, label: 'Negative'}
                            ],
                            backgroundColor: '#FFF',
                            labelColor: '#000000',
                            colors: [
                                '#009688',
                                '#00bcd4',
                                '#e91e63'
                            ],
                            formatter: function (x) { return x + "%"}
                        });
                    }


                }
            });

        }
        /*]]>*/


    </script>

</body>

</html>