﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Sign Up | SocialVisor</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{../../favicon.ico}" type="image/x-icon"/>
    <script th:inline="javascript">


        /*<![CDATA[*/


        function vk() {
            window.open('https://oauth.vk.com/authorize?client_id=6263036&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=messages&response_type=token&v=5.69','_blank')
        }

        /*]]>*/


    </script>
    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{../../plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{../../plugins/node-waves/waves.css}" rel="stylesheet" />

    <!-- Animation Css -->
    <link th:href="@{../../plugins/animate-css/animate.css}" rel="stylesheet" />

    <!-- Sweetalert Css -->
    <link th:href="@{../../plugins/sweetalert/sweetalert.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{../../css/style.css}" rel="stylesheet"/>
</head>

<body class="signup-page">

    <!-- Page Loader -->
    <div id="page-loader-wrapper" class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->


    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">
                <img style="height: 1.5em" src="/images/logo.png"/>Social<b>Visor</b>
            </a>
            <small>Be in touch with your child</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" action="messages" method="post" onsubmit="sub(this);return false;">
                    <div class="msg">Check social network profile</div>

                    <p onclick="vk()" class="btn btn-block btn-lg bg-indigo waves-effect" type="submit">GET VK TOKEN</p>
					<div class="msg" style="margin-bottom:0px;margin-top:20px;">Insert gotten link from vk authorization page</div>
					<div class="input-group" >
                        <span class="input-group-addon">
                            <i class="material-icons">insert_link</i>
                        </span>
                        <div class="form-line">
                            <input id="token" type="text" class="form-control" name="link" placeholder="URL" />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink"/>
                        <label for="terms">I read and agree that the system is not responsible for anything.</label>
                    </div>
                    <input type="hidden" name="walls" id="walls"/>
                    <input type="hidden" name="groups" id="groups"/>
                    <input type="hidden" name="user" id="user"/>
					<button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">PROCESS</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script th:attr="src=@{../../plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:attr="src=@{../../plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:attr="src=@{../../plugins/node-waves/waves.js}"></script>

    <!-- Validation Plugin Js -->
    <script th:attr="src=@{../../plugins/jquery-validation/jquery.validate.js}"></script>

    <!-- Custom Js -->
    <script th:attr="src=@{../../js/admin.js}"></script>
    <script th:attr="src=@{../../js/pages/examples/sign-up.js}"></script>

    <!-- SweetAlert Plugin Js -->
    <script th:attr="src=@{../../plugins/sweetalert/sweetalert.min.js}"></script>

    <script th:inline="javascript">

        /*<![CDATA[*/

var form;

        function sub(f) {

            if ($('#terms').is(":checked"))
            {

                if(/^https:\/\/oauth\.vk\.com\/blank\.html#access_token=.{85}&expires_in=\d{5}&user_id=\d*$/.test($('#token').val())){

                }else{
                    swal("Invalid copied VK url");
                    return false;
                }

                $("#page-loader-wrapper").show()

                var token = $("#token").val().substring(45, 130);

                var script = document.createElement('SCRIPT');
                script.src = "https://api.vk.com/method/groups.get?extended=1&count=200&v=5.52&access_token="+token+"&callback=groups";
                document.getElementsByTagName("head")[0].appendChild(script);
                form =f;
                return false;
            }else{
                swal("You must agree with our terms and conditions.");
                return false;
            }
        }
        function groups(result) {
            $('#groups').val(JSON.stringify(result));
            var token = $("#token").val().substring(45, 130);
            var script = document.createElement('SCRIPT');
            script.src = "https://api.vk.com/method/users.get?fields=photo_max,education,last_seen,followers_count&v=5.52&access_token="+token+"&callback=user";
            document.getElementsByTagName("head")[0].appendChild(script);

        }

        function user(result) {
            $('#user').val(JSON.stringify(result));

            var token = $("#token").val().substring(45, 130);
            var script = document.createElement('SCRIPT');
            script.src = "https://api.vk.com/method/wall.get?extended=0&count=100&v=5.52&access_token="+token+"&callback=walls";
            document.getElementsByTagName("head")[0].appendChild(script);

        }

        function walls(result) {
            $('#walls').val(JSON.stringify(result));

            form.submit();
        }



        /*]]>*/


    </script>

</body>

</html>